<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--測試連線-->
		<add name="DefaultConnection" connectionString="Data Source=IP;Initial Catalog=資料庫;Persist Security Info=True;User ID=帳號;Password=密碼" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--測試指令 目的是撈出某張資料表的某個文字欄位-->
		<add key="TestCommand" value="SELECT TOP 1 CONVERT(VARCHAR, [ID]) FROM [資料表] " />
	</appSettings>
</configuration>